@use "../abstracts/" as *;

.navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: white;
    border-bottom: 1px solid $lightgray;
    z-index: 1000;
    padding: 0 3%;
    box-sizing: border-box;

    .hidden{
        visibility: hidden;
    }
}