@font-face {
    font-family: "Cinzel";
    src: url(Cinzel-VariableFont_wght.ttf);
  }

  @font-face {
    font-family: "CinzelHeader";
    src: url(CinzelDecorative-Regular.ttf);
  }

  @font-face {
    font-family: "Montserrat";
    src: url(Montserrat-VariableFont_wght.ttf);
  }

  h1, h2{
    font-family: "CinzelHeader";
  }

  h3{
    font-family: "Montserrat";
    font-weight:200;
  }

  p{
    font-family: "Montserrat";
  }