@use "colors" as colors;

@font-face {
    font-family: "Cinzel";
    src: url(Cinzel-VariableFont_wght.ttf);
  }

  @font-face {
    font-family: "CinzelHeader";
    src: url(CinzelDecorative-Regular.ttf);
  }

  @font-face {
    font-family: "Montserrat";
    src: url(Montserrat-VariableFont_wght.ttf);
  }

  h1, h2{
    font-family: "CinzelHeader";
  }

  h2{font-size: 50px;}

  h3{
    font-family: "Montserrat";
    font-weight:200;
    font-size: 14px;
    color: colors.$gray;
  }

  p{
    font-family: "Montserrat";
  }