.listings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.condolistings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}